{% schema %}
{
  "name": "Subscription introduction",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 64
    }
  ],
  "presets": [
    {
      "name": "Subscription introduction",
      "category": "pages"
    }
  ]
}
{% endschema %}

<div
  class="section-subscription-introduction"
  style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;max-width: 1200px;margin: 0 auto;"
>
  <h2 class="h2 standard__heading heading-size-9 text-center how-it-works" style="max-width: 588px;">
    Enjoy private, fast, and subscription-free, internet!
  </h2>
  <div class="section-subscription-introduction-list">
    <div class="section-subscription-introduction-list-item">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/obfuscated-servers-1.png?v=1742460947"
        alt="World’s first DPN hardware appliance! Better than traditional software VPNs…"
      >
      <h3 class="h3 heading-size-6 introduction-list-item-title">Hardware VPN</h3>
      <p class="heading-size-4 introduction-list-item-content introduction-list-item-content">
        World’s first DPN hardware appliance! Better than traditional software VPNs.
      </p>
    </div>
    <div class="section-subscription-introduction-list-item">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/obfuscated-servers-2.png"
        alt="One-time hardware purchase guarantees lifetime subscription-free operation."
      >
      <h3 class="h3 heading-size-6 introduction-list-item-title">$0 Subscription Fees</h3>
      <p class="heading-size-4 introduction-list-item-content introduction-list-item-content">
        One-time hardware purchase guarantees lifetime subscription-free operation.
      </p>
    </div>
    <div class="section-subscription-introduction-list-item">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/obfuscated-servers-3.png"
        alt="Over 200,000 nodes worldwide, forming the largest node network globally."
      >
      <h3 class="h3 heading-size-6 introduction-list-item-title">largest node network‌‌</h3>
      <p class="heading-size-4 introduction-list-item-content introduction-list-item-content">
        Over 200,000 nodes worldwide, forming the largest node network globally.
      </p>
    </div>
    <div class="section-subscription-introduction-list-item">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/obfuscated-servers-4.png"
        alt="End-to-end encrypted data ensures network anonymity and prevents data leaks."
      >
      <h3 class="h3 heading-size-6 introduction-list-item-title">Privacy Protection</h3>
      <p class="heading-size-4 introduction-list-item-content introduction-list-item-content">
        End-to-end encrypted data ensures network anonymity and prevents data leaks.
      </p>
    </div>
    <div class="section-subscription-introduction-list-item">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/obfuscated-servers-5.png"
        alt="Decentralized network, 7-Layer Firewall, DNS encryption, Threat intelligence."
      >
      <h3 class="h3 heading-size-6 introduction-list-item-title">Enterprise-grade security‌‌</h3>
      <p class="heading-size-4 introduction-list-item-content introduction-list-item-content">
        Decentralized network, 7-Layer Firewall, DNS encryption, Threat intelligence.
      </p>
    </div>
    <div class="section-subscription-introduction-list-item">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/obfuscated-servers-6.png"
        alt="Decentralized network, 7-Layer Firewall, DNS encryption, Threat intelligence."
      >
      <h3 class="h3 heading-size-6 introduction-list-item-title">All Devices Supported</h3>
      <p class="heading-size-4 introduction-list-item-content introduction-list-item-content">
        Unlimited devices! If it connected to the internet, it can be protected.
      </p>
    </div>
    <div class="section-subscription-introduction-list-item">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/obfuscated-servers-7.png"
        alt="Unrestricted access to your favorite content anytime."
      >
      <h3 class="h3 heading-size-6 introduction-list-item-title">Stream Anywhere</h3>
      <p class="heading-size-4 introduction-list-item-content introduction-list-item-content">
        Unrestricted access to your favorite content anytime.
      </p>
    </div>
    <div class="section-subscription-introduction-list-item">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/obfuscated-servers-8.png"
        alt="Unrestricted access to your favorite content anytime."
      >
      <h3 class="h3 heading-size-6 introduction-list-item-title">‌Global Protection‌‌</h3>
      <p class="heading-size-4 introduction-list-item-content introduction-list-item-content">
        Set it up once to protect your entire network and all connected devices.
      </p>
    </div>
    <div class="section-subscription-introduction-list-item">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/obfuscated-servers-9.png"
        alt="The product has won many global awards and is deeply loved by users"
      >
      <h3 class="h3 heading-size-6 introduction-list-item-title">Award-winning products</h3>
      <p class="heading-size-4 introduction-list-item-content introduction-list-item-content">
        The product has won many global awards and is deeply loved by users
      </p>
    </div>
  </div>
</div>

<style>
  .section-subscription-introduction-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-top: 32px;
  }

  .section-subscription-introduction-list-item {
    border-radius: 18px;
    border: 1px solid #f2f2f6;
    background: #fff;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    padding: 48px 32px 72px 32px;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
  }

  .section-subscription-introduction-list-item img {
    width: 200px;
    height: 200px;
  }

  .introduction-list-item-title {
    margin: 0;
    text-align: center;
    text-transform: capitalize;
  }
  .introduction-list-item-content {
    margin: 0;
    color: #2f3132;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0px;
    margin-top: 8px;
  }

  @media screen and (max-width: 990px) {
    .section-subscription-introduction-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
    .section-subscription-introduction-list-item img {
      width: 150px;
      height: 150px;
    }
    .section-subscription-introduction-list-item {
      background: #fff;
      box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
      padding: 16px;
    }
    .section-subscription-introduction {
      padding: 0px 15px;
    }
    .introduction-list-item-content {
      font-size: 14px;--font-6
    }
  }
  @media screen and (max-width: 990px) {
    .section-subscription-introduction-list-item img {
      width: 96px;
      height: 96px;
    }
  }
</style>
