{% schema %}
{
  "name": "Use Cases",
  "presets": [
    {
      "name": "Use Cases",
      "category": "Theme"
    }
  ]
}
{% endschema %}

<div class="resource-collection">
  <div class="resource-collection-img">
    <div class="resource-collection-overlay-box">
      <div class="resource-collection-overlay">Use Cases</div>
      <div class="resource-collection-overlay-subtitle">
        Deeper Network's partnerships with governments and law enforcement highlight its ability to enhance anonymity
        and cybersecurity for sensitive investigations. By tackling unique challenges with innovative technology, it
        stands as a trusted solution for privacy-conscious users worldwide.
      </div>
    </div>
    <img
      class="mobile--hide  medium--hide large--show widescreen--show"
      src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/case-bg2.jpg?v=1739163870"
      alt=""
    >
    <img
      class="mobile--show  medium--show large--hide widescreen--hide"
      src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/use-case.png?v=1739848949"
      alt=""
    >
  </div>
</div>
<div class="resource-collection-content">
  <div class="resource-collection-list">
    <div class="resource-collection-item">
      <div class="resource-collection-item-text">
        Enhancing anonymity and security for law enforcement investigations
      </div>
      <div
        class="resource-collection-item-icon"
        onclick="CustomDialog.open('customDialog5')"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="21"
          viewBox="0 0 24 21"
          fill="none"
        >
          <path
            d="M2.16748 10.3071H21.8325M21.8325 10.3071L13.458 18.6815M21.8325 10.3071L13.458 1.93262"
            stroke="#3A3940"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <div class="resource-collection-item">
      <div class="resource-collection-item-text">
        How Deeper Network enhanced connectivity for a global shipping company
      </div>
      <div
        class="resource-collection-item-icon"
        onclick="CustomDialog.open('customDialog1')"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="21"
          viewBox="0 0 24 21"
          fill="none"
        >
          <path
            d="M2.16748 10.3071H21.8325M21.8325 10.3071L13.458 18.6815M21.8325 10.3071L13.458 1.93262"
            stroke="#3A3940"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <div class="resource-collection-item">
      <div class="resource-collection-item-text">The technology behind Eva Green's "Dirty Angels"</div>
      <div
        class="resource-collection-item-icon"
        onclick="CustomDialog.open('customDialog2')"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="21"
          viewBox="0 0 24 21"
          fill="none"
        >
          <path
            d="M2.16748 10.3071H21.8325M21.8325 10.3071L13.458 18.6815M21.8325 10.3071L13.458 1.93262"
            stroke="#3A3940"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <div class="resource-collection-item">
      <div class="resource-collection-item-text">
        How Reporters Without Boarders use Deeper Connect for secure Internet access in hostile environments
      </div>
      <div
        class="resource-collection-item-icon"
        onclick="CustomDialog.open('customDialog3')"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="21"
          viewBox="0 0 24 21"
          fill="none"
        >
          <path
            d="M2.16748 10.3071H21.8325M21.8325 10.3071L13.458 18.6815M21.8325 10.3071L13.458 1.93262"
            stroke="#3A3940"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <div class="resource-collection-item">
      <div class="resource-collection-item-text">Enhancing cybersecurity for government agencies</div>
      <div
        class="resource-collection-item-icon"
        onclick="CustomDialog.open('customDialog4')"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="21"
          viewBox="0 0 24 21"
          fill="none"
        >
          <path
            d="M2.16748 10.3071H21.8325M21.8325 10.3071L13.458 18.6815M21.8325 10.3071L13.458 1.93262"
            stroke="#3A3940"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="custom-dialog__wrapper" id="customDialog1">
  <div class="custom-dialog__container">
    <button
      class="custom-dialog__close-btn"
      onclick="CustomDialog.close('customDialog1')"
    >
      ×
    </button>
    <div class="custom-dialog__header">
      <h2 class="custom-dialog__title">How Deeper Network enhanced connectivity for a global shipping company</h2>
    </div>
    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-title">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
        >
          <g clip-path="url(#clip0_7499_545)">
            <path
              d="M18.9669 7.35794V9.6783L19.5657 10.2272L29.93 29.0945C29.9998 29.4438 29.8851 29.818 29.6156 30.0575C29.5507 30.1174 29.2314 30.307 29.1665 30.307H19.7603C20.0348 29.5336 19.9849 28.7402 19.6555 27.9917L12.9889 16.32L16.397 10.1973L16.9609 9.66333L16.9709 1.24017C17.0208 0.781093 17.43 0.391871 17.8941 0.366921C20.1945 0.526602 22.7643 0.16233 25.0298 0.366921C25.5138 0.411831 25.8831 0.761133 25.9529 1.24017C25.8182 2.90684 26.1276 4.84796 25.9529 6.4797C25.918 6.80405 25.5138 7.35295 25.1795 7.35295H18.9669V7.35794Z"
              fill="white"
            />
            <path
              d="M8.62773 15.3512C9.54091 15.2265 10.2245 15.5708 10.7235 16.3193L17.8593 28.8392C18.1886 29.4879 17.7595 30.2464 17.0459 30.3063H0.928132C0.31935 30.2564 -0.0998121 29.6925 0.0199483 29.0937L7.25049 16.3193C7.54989 15.8552 8.06386 15.4261 8.62773 15.3512Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_7499_545">
              <rect
                width="29.9501"
                height="30"
                fill="white"
                transform="translate(0 0.306641)"
              />
            </clipPath>
          </defs>
        </svg>
        <span>The Challenge</span>
      </div>
      <div class="custom-dialog__content-item-content">
        <p>
          A leading China-based shipping line faced challenges in ensuring secure and reliable internet access across
          its global operations. With employees and systems spread across ports, vessels, and offices worldwide,
          maintaining secure communication, bypassing regional internet restrictions, and protecting sensitive data were
          critical.
        </p>
      </div>
    </div>
    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-title">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
        >
          <g clip-path="url(#clip0_7499_552)">
            <path
              d="M14.2615 6.75326C17.9641 6.44887 21.4621 8.59458 22.8693 12.0028C24.3613 15.6155 23.0739 19.8371 20.7186 22.7612H9.20659C6.44711 19.2932 5.23952 14.3082 7.91417 10.4209C9.3513 8.3351 11.7216 6.96284 14.2565 6.75326H14.2615Z"
              fill="white"
            />
            <path
              d="M19.2415 24.9121V27.472C19.2415 28.2854 18.3383 29.458 17.6397 29.8422C16.6118 30.4111 13.6677 30.446 12.5948 29.992C11.7415 29.6327 10.6836 28.4251 10.6836 27.472V24.9121H19.2415Z"
              fill="white"
            />
            <path
              d="M14.7106 0.326696C15.3294 0.196956 15.9581 0.631088 16.0329 1.25983C16.0878 1.69895 16.0978 3.36562 16.013 3.76482C15.7884 4.87759 14.0369 4.84765 13.8872 3.63009C13.8323 3.19097 13.8224 1.5243 13.9072 1.1251C13.9721 0.800748 14.3862 0.391567 14.7106 0.321706V0.326696Z"
              fill="white"
            />
            <path
              d="M0.80839 14.234C1.15769 14.1641 3.17865 14.1691 3.503 14.2539C4.53593 14.5234 4.48603 16.1302 3.44312 16.3397C3.09382 16.4096 1.07286 16.4046 0.74851 16.3198C-0.289415 16.0503 -0.229534 14.4435 0.80839 14.234Z"
              fill="white"
            />
            <path
              d="M26.4771 14.234C26.8264 14.1641 28.8473 14.1691 29.1717 14.2539C30.2046 14.5234 30.1547 16.1302 29.1118 16.3397C28.7625 16.4096 26.7415 16.4046 26.4172 16.3198C25.3793 16.0503 25.4391 14.4435 26.4771 14.234Z"
              fill="white"
            />
            <path
              d="M5.01498 4.37855C5.26947 4.3536 5.49901 4.41348 5.71358 4.55819C5.91817 4.69292 7.37526 6.15001 7.50999 6.3546C8.12875 7.29771 7.03094 8.43045 6.07286 7.86657C5.88823 7.75679 4.36128 6.23484 4.23154 6.04023C3.79242 5.36657 4.21158 4.46338 5.01498 4.37855Z"
              fill="white"
            />
            <path
              d="M24.6507 4.37344C25.5289 4.25368 26.1826 5.21676 25.7286 5.99021C25.6188 6.17484 24.0369 7.75668 23.8573 7.86147C22.9142 8.41536 21.8363 7.33252 22.3902 6.3944C22.505 6.19979 23.9621 4.73771 24.1717 4.58801C24.3014 4.49819 24.496 4.3934 24.6507 4.37344Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_7499_552">
              <rect
                width="29.9251"
                height="30"
                fill="white"
                transform="translate(0 0.306641)"
              />
            </clipPath>
          </defs>
        </svg>
        <span>The Solution</span>
      </div>
      <div class="custom-dialog__content-item-content">
        <p>
          The company adopted Deeper Network, a decentralized VPN service, to address these issues. Unlike traditional
          VPNs, Deeper Network provided a blockchain-powered, secure, and peer-to-peer solution.
        </p>
      </div>
    </div>
    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-title">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
        >
          <g clip-path="url(#clip0_7499_564)">
            <path
              d="M26.4083 10.567C27.1716 10.5019 28.568 10.4959 29.2012 10.9575C30.1183 11.632 29.8402 12.7504 29.8698 13.7445C30.0118 18.1942 30.0118 22.6439 29.8698 27.0936C29.8402 28.0758 30.1065 29.1587 29.2248 29.8451C28.4497 30.4427 25.8816 30.4545 25.1006 29.8806C24.3195 29.3066 24.4734 28.8332 24.426 28.0344C24.1893 23.9989 24.2958 19.7859 24.3728 15.7385C24.3964 14.5551 24.2781 13.1409 24.4319 11.993C24.568 10.993 25.5325 10.6439 26.4083 10.5729V10.567Z"
              fill="white"
            />
            <path
              d="M24.426 6.45471C24.3432 6.43104 24.3314 6.47837 24.2781 6.51388C23.9645 6.72689 23.4675 7.31269 23.1361 7.59672C18.3136 11.863 12.0651 15.6677 6.00591 17.8748C5.40828 18.0938 4.64497 18.4074 4.04141 18.5494C2.11834 18.9991 1.40828 16.6145 3.08875 15.8985C3.74556 15.6204 4.53846 15.431 5.22485 15.1648C11.4024 12.8097 17.2248 9.20027 22.0769 4.72689C22.1006 4.60855 22.0533 4.65589 22 4.6263C21.5266 4.3482 20.8461 4.21802 20.639 3.64405C20.4497 3.11743 20.6805 2.50796 21.1953 2.26536L26.5207 0.318611C27.4379 0.223936 27.8757 0.809735 27.8225 1.67956C27.7278 3.34228 27.2248 5.1411 27.1124 6.82749C27.0296 7.57305 26.3136 8.01684 25.6095 7.7624C25.1124 7.57897 24.7219 6.87482 24.426 6.45471Z"
              fill="white"
            />
            <path
              d="M18.4438 15.4897C19.5326 15.4068 21.0947 15.4128 21.6095 16.5607C21.8876 17.182 21.7692 18.7974 21.7929 19.5429C21.8639 22.2944 21.9172 25.1051 21.7929 27.8565C21.7574 28.6909 21.7515 29.4128 20.9882 29.9216C20.2249 30.4305 17.6568 30.4246 16.8994 29.8151C16.142 29.2057 16.3314 28.6258 16.284 27.7915C16.1124 24.5311 16.1124 21.2175 16.284 17.9571C16.3195 17.3062 16.1834 16.8565 16.5858 16.2648C17.0118 15.6435 17.7397 15.537 18.4379 15.4838L18.4438 15.4897Z"
              fill="white"
            />
            <path
              d="M10.5384 20.4069C11.8816 20.3359 13.4911 20.472 13.645 22.1229C13.8284 24.0401 13.8166 26.5785 13.6509 28.4957C13.5325 29.8862 12.5858 30.2176 11.3432 30.2827C10.0059 30.3537 8.32543 30.2531 8.15383 28.6022C8.0059 27.2058 8.05324 25.7324 8.08874 24.3359C8.14792 22.0874 7.7278 20.5371 10.5325 20.3951L10.5384 20.4069Z"
              fill="white"
            />
            <path
              d="M2.1065 23.5141C3.31952 23.4075 5.11834 23.372 5.53254 24.7981C5.77514 25.6324 5.79289 28.4786 5.42603 29.2419C5.02366 30.088 4.17159 30.2419 3.3136 30.2951C2.20118 30.3602 0.633131 30.3188 0.213012 29.0643C-0.0769284 28.2004 -0.0769284 25.4963 0.236681 24.6442C0.532539 23.8454 1.31952 23.591 2.10059 23.52L2.1065 23.5141Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_7499_564">
              <rect
                width="29.9763"
                height="30"
                fill="white"
                transform="translate(0 0.306641)"
              />
            </clipPath>
          </defs>
        </svg>
        <span>Key Benefits Delivered</span>
      </div>
      <div class="custom-dialog__content-item-content">
        <ul class="custom-dialog__content-list">
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Unrestricted Access</div>
            <div class="custom-dialog__content-list-item-text">
              Employees could bypass regional restrictions and access essential tools and global websites, ensuring
              uninterrupted operations in restricted areas.
            </div>
          </li>
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Enhanced Security</div>
            <div class="custom-dialog__content-list-item-text">
              Deeper Network’s decentralized architecture encrypted all communications, protecting sensitive operational
              and client data from cyber threats.
            </div>
          </li>
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Cost Savings</div>
            <div class="custom-dialog__content-list-item-text">
              Eliminated dependency on expensive centralized VPN services, reducing IT overheads while ensuring
              scalability.
            </div>
          </li>
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Global Connectivity</div>
            <div class="custom-dialog__content-list-item-text">
              Seamless access to secure networks from vessels, ports, and remote locations enabled real-time updates and
              efficient communication across teams.
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-title">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
        >
          <g clip-path="url(#clip0_7499_586)">
            <path
              d="M24.4711 13.6195C26.2076 13.4549 26.6667 12.2972 27.8194 11.409C27.8643 11.374 27.8792 11.3191 27.9541 11.3391C28.1337 12.0477 28.3633 12.7513 28.488 13.4698C29.8453 21.1894 24.6856 28.6245 17.021 30.0567C9.17165 31.5287 1.55688 26.2692 0.214563 18.415C-1.502 8.40996 7.42015 -0.157903 17.3503 1.91296C17.8543 2.01775 18.3433 2.20238 18.8423 2.31216C18.8623 2.392 18.8074 2.40198 18.7724 2.44689C18.3633 2.97583 17.7096 3.40497 17.3004 3.98381C17.0659 4.31315 16.6068 5.23132 16.6068 5.61555V8.30517C16.6068 8.30517 16.5219 8.39998 16.492 8.40497C12.1058 7.11256 7.46506 10.0068 6.63672 14.4728C5.38921 21.1994 12.6896 26.2493 18.518 22.6165C21.3373 20.8601 22.6347 17.6914 22.0659 14.4279C22.0359 14.2533 21.8912 13.8641 21.9012 13.7243C21.9012 13.6694 21.9261 13.6445 21.9661 13.6146C22.7744 13.5597 23.6776 13.6894 24.4711 13.6146V13.6195Z"
              fill="white"
            />
            <path
              d="M29.5858 4.37843C29.9801 4.77763 30.0349 5.4912 29.7106 5.95527L24.9152 10.7906C24.7306 10.9353 24.481 11.085 24.2465 11.11C23.2535 11.2197 22.0609 11.0152 21.0529 11.11C20.988 11.115 20.9232 11.11 20.8633 11.1449L17.8842 14.1389C17.7795 14.3185 18.0339 14.7227 18.0938 14.9373C19.3413 19.5481 12.6647 21.8435 10.7984 17.4922C9.38624 14.1938 12.8294 10.9553 16.0329 12.4672L19.0619 9.38841C19.1417 8.35048 18.987 7.23272 19.0719 6.20477C19.1168 5.60597 19.3463 5.40138 19.7355 4.99719C21.2176 3.70976 22.515 2.04809 23.9721 0.755673C24.8952 -0.0626901 26.008 0.251681 26.2276 1.46925L26.4122 3.78961C26.4721 3.83452 26.5419 3.84949 26.6168 3.85947C27.3004 3.93432 28.0789 3.89939 28.7525 3.99919C29.0569 4.0441 29.3663 4.14889 29.5858 4.37344V4.37843Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_7499_586">
              <rect
                width="29.9202"
                height="30"
                fill="white"
                transform="translate(0 0.306641)"
              />
            </clipPath>
          </defs>
        </svg>
        <span>The Results</span>
      </div>
      <div class="custom-dialog__content-item-content">
        <p style="margin-bottom: 20px">With Deeper Network, the shipping line achieved:</p>
        <div class="security-content">
          <div class="security-content-item">
            <span class="security-content-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
                viewBox="0 0 12 9"
                fill="none"
              >
                <path
                  d="M1.25223 3.95026L4.65513 7.35315L10.7475 1.26074"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
            <span>Robust, secure, and unrestricted internet access globally.</span>
          </div>
          <div class="security-content-item">
            <span class="security-content-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
                viewBox="0 0 12 9"
                fill="none"
              >
                <path
                  d="M1.25223 3.95026L4.65513 7.35315L10.7475 1.26074"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
            <span>Improved operational efficiency.</span>
          </div>
          <div class="security-content-item">
            <span class="security-content-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
                viewBox="0 0 12 9"
                fill="none"
              >
                <path
                  d="M1.25223 3.95026L4.65513 7.35315L10.7475 1.26074"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
            <span>Safeguarded sensitive data.</span>
          </div>
        </div>
        <p class="fonst-bold">
          Secure your operations with Deeper Network.
          <a href="/collections/all" style="color: #34a4ff;">Get started today</a>!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="custom-dialog__wrapper" id="customDialog2">
  <div class="custom-dialog__container">
    <button
      class="custom-dialog__close-btn"
      onclick="CustomDialog.close('customDialog2')"
    >
      ×
    </button>
    <div class="custom-dialog__header">
      <h2 class="custom-dialog__title">The technology behind Eva Green's "Dirty Angels"</h2>
    </div>
    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-content">
        <p>
          In the action-packed thriller Dirty Angels, starring Eva Green, cutting-edge tech takes center stage in
          high-stakes espionage. One standout? Deeper Network, the decentralized VPN service that powers covert
          operations.
        </p>
      </div>
    </div>
    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-title">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
        >
          <g clip-path="url(#clip0_7499_784)">
            <path
              d="M24.471 13.6195C26.2076 13.4549 26.6666 12.2972 27.8193 11.409C27.8642 11.374 27.8792 11.3191 27.9541 11.3391C28.1337 12.0477 28.3633 12.7513 28.488 13.4698C29.8453 21.1894 24.6856 28.6245 17.0209 30.0567C9.17163 31.5287 1.55686 26.2692 0.214548 18.415C-1.50202 8.40996 7.42014 -0.157903 17.3503 1.91296C17.8543 2.01775 18.3433 2.20238 18.8423 2.31216C18.8623 2.392 18.8074 2.40198 18.7724 2.44689C18.3632 2.97583 17.7096 3.40497 17.3004 3.98381C17.0658 4.31315 16.6068 5.23132 16.6068 5.61555V8.30517C16.6068 8.30517 16.5219 8.39998 16.492 8.40497C12.1058 7.11256 7.46505 10.0068 6.6367 14.4728C5.3892 21.1994 12.6896 26.2493 18.5179 22.6165C21.3373 20.8601 22.6347 17.6914 22.0658 14.4279C22.0359 14.2533 21.8912 13.8641 21.9012 13.7243C21.9012 13.6694 21.9261 13.6445 21.966 13.6146C22.7744 13.5597 23.6776 13.6894 24.471 13.6146V13.6195Z"
              fill="white"
            />
            <path
              d="M29.5858 4.37843C29.98 4.77763 30.0349 5.4912 29.7106 5.95527L24.9152 10.7906C24.7305 10.9353 24.481 11.085 24.2465 11.11C23.2535 11.2197 22.0609 11.0152 21.0529 11.11C20.988 11.115 20.9231 11.11 20.8633 11.1449L17.8842 14.1389C17.7794 14.3185 18.0339 14.7227 18.0938 14.9373C19.3413 19.5481 12.6647 21.8435 10.7984 17.4922C9.38621 14.1938 12.8293 10.9553 16.0329 12.4672L19.0619 9.38841C19.1417 8.35048 18.987 7.23272 19.0718 6.20477C19.1167 5.60597 19.3463 5.40138 19.7355 4.99719C21.2175 3.70976 22.515 2.04809 23.972 0.755673C24.8952 -0.0626901 26.008 0.251681 26.2275 1.46925L26.4122 3.78961C26.472 3.83452 26.5419 3.84949 26.6167 3.85947C27.3004 3.93432 28.0788 3.89939 28.7525 3.99919C29.0569 4.0441 29.3662 4.14889 29.5858 4.37344V4.37843Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_7499_784">
              <rect
                width="29.9202"
                height="30"
                fill="white"
                transform="translate(0 0.306641)"
              />
            </clipPath>
          </defs>
        </svg>
        <span>How Deeper Network Shines in the Film</span>
      </div>
      <div class="custom-dialog__content-item-content">
        <ul class="custom-dialog__content-list">
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Untraceable Connectivity</div>
            <div class="custom-dialog__content-list-item-text">
              Eva Green’s character uses Deeper Network’s decentralized VPN to stay connected securely while dodging
              threats in hostile territories. Its peer-to-peer setup ensures no single point of failure, making it
              virtually untraceable.
            </div>
          </li>
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Global Access Without Borders</div>
            <div class="custom-dialog__content-list-item-text">
              Need to bypass firewalls? Deeper Network enables unrestricted access to critical intel, even in regions
              with heavy censorship. Perfect for operatives on the run.
            </div>
          </li>
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Top-Tier Security</div>
            <div class="custom-dialog__content-list-item-text">
              Blockchain-based encryption shields sensitive communications from enemy prying eyes, mirroring the
              real-world reliability trusted by users worldwide.
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-title">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
        >
          <g clip-path="url(#clip0_7499_800)">
            <path
              d="M14.2615 6.75326C17.9641 6.44887 21.4621 8.59458 22.8693 12.0028C24.3613 15.6155 23.0739 19.8371 20.7186 22.7612H9.20662C6.44714 19.2932 5.23955 14.3082 7.9142 10.4209C9.35133 8.3351 11.7216 6.96284 14.2565 6.75326H14.2615Z"
              fill="white"
            />
            <path
              d="M19.2415 24.9121V27.472C19.2415 28.2854 18.3383 29.458 17.6397 29.8422C16.6117 30.4111 13.6676 30.446 12.5948 29.992C11.7415 29.6327 10.6836 28.4251 10.6836 27.472V24.9121H19.2415Z"
              fill="white"
            />
            <path
              d="M14.7106 0.326696C15.3293 0.196956 15.9581 0.631088 16.0329 1.25983C16.0878 1.69895 16.0978 3.36562 16.013 3.76482C15.7884 4.87759 14.0369 4.84765 13.8872 3.63009C13.8323 3.19097 13.8223 1.5243 13.9072 1.1251C13.972 0.800748 14.3862 0.391567 14.7106 0.321706V0.326696Z"
              fill="white"
            />
            <path
              d="M0.80842 14.234C1.15772 14.1641 3.17868 14.1691 3.50303 14.2539C4.53597 14.5234 4.48607 16.1302 3.44315 16.3397C3.09385 16.4096 1.07289 16.4046 0.74854 16.3198C-0.289384 16.0503 -0.229504 14.4435 0.80842 14.234Z"
              fill="white"
            />
            <path
              d="M26.477 14.234C26.8263 14.1641 28.8473 14.1691 29.1716 14.2539C30.2045 14.5234 30.1546 16.1302 29.1117 16.3397C28.7624 16.4096 26.7415 16.4046 26.4171 16.3198C25.3792 16.0503 25.4391 14.4435 26.477 14.234Z"
              fill="white"
            />
            <path
              d="M5.01493 4.37855C5.26942 4.3536 5.49896 4.41348 5.71353 4.55819C5.91812 4.69292 7.37521 6.15001 7.50994 6.3546C8.1287 7.29771 7.0309 8.43045 6.07281 7.86657C5.88818 7.75679 4.36124 6.23484 4.2315 6.04023C3.79238 5.36657 4.21154 4.46338 5.01493 4.37855Z"
              fill="white"
            />
            <path
              d="M24.6507 4.37344C25.529 4.25368 26.1827 5.21676 25.7286 5.99021C25.6188 6.17484 24.037 7.75668 23.8573 7.86147C22.9142 8.41536 21.8364 7.33252 22.3903 6.3944C22.505 6.19979 23.9621 4.73771 24.1717 4.58801C24.3014 4.49819 24.496 4.3934 24.6507 4.37344Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_7499_800">
              <rect
                width="29.9251"
                height="30"
                fill="white"
                transform="translate(0 0.306641)"
              />
            </clipPath>
          </defs>
        </svg>
        <span>Why Deeper Network?</span>
      </div>
      <div class="custom-dialog__content-item-content">
        <p>
          From espionage missions to everyday use, Deeper Network combines privacy, speed, and security, making it the
          ultimate tool for those who need reliable, borderless internet.
        </p>
      </div>
    </div>
    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-content">
        <p class="fonst-bold">
          <a href="/collections/all">Experience the tech behind the action</a>! Try Deeper Network today and step into
          the future of secure connectivity.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="custom-dialog__wrapper" id="customDialog3">
  <div class="custom-dialog__container">
    <button
      class="custom-dialog__close-btn"
      onclick="CustomDialog.close('customDialog3')"
    >
      ×
    </button>
    <div class="custom-dialog__header">
      <h2 class="custom-dialog__title">
        How Reporters Without Borders use Deeper Connect for secure Internet access in hostile environments
      </h2>
    </div>
    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-content">
        <p>
          In regions where press freedom is under threat, Reporters Without Borders (RSF) relies on cutting-edge
          technology to protect journalists and ensure the free flow of information. Deeper Network, with its
          decentralized VPN and blockchain-powered security features, has become a vital tool for RSF to operate
          securely in hostile environments.
        </p>
      </div>
    </div>
    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-title">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
        >
          <g clip-path="url(#clip0_7499_615)">
            <path
              d="M18.9668 7.35794V9.6783L19.5656 10.2272L29.9299 29.0945C29.9997 29.4438 29.885 29.818 29.6155 30.0575C29.5506 30.1174 29.2313 30.307 29.1664 30.307H19.7602C20.0347 29.5336 19.9848 28.7402 19.6554 27.9917L12.9888 16.32L16.397 10.1973L16.9608 9.66333L16.9708 1.24017C17.0207 0.781093 17.4299 0.391871 17.894 0.366921C20.1944 0.526602 22.7642 0.16233 25.0297 0.366921C25.5137 0.411831 25.883 0.761133 25.9528 1.24017C25.8181 2.90684 26.1275 4.84796 25.9528 6.4797C25.9179 6.80405 25.5137 7.35295 25.1794 7.35295H18.9668V7.35794Z"
              fill="white"
            />
            <path
              d="M8.62776 15.3512C9.54094 15.2265 10.2246 15.5708 10.7236 16.3193L17.8593 28.8392C18.1886 29.4879 17.7595 30.2464 17.0459 30.3063H0.928162C0.31938 30.2564 -0.0997816 29.6925 0.0199789 29.0937L7.25052 16.3193C7.54992 15.8552 8.06389 15.4261 8.62776 15.3512Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_7499_615">
              <rect
                width="29.9501"
                height="30"
                fill="white"
                transform="translate(0 0.306641)"
              />
            </clipPath>
          </defs>
        </svg>
        <span>Challenges Faced by RSF</span>
      </div>
      <div class="custom-dialog__content-item-content">
        <ul class="custom-dialog__content-list">
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Surveillance Threats</div>
            <div class="custom-dialog__content-list-item-text">
              Journalists risk exposure of sensitive information due to constant monitoring by authoritarian regimes.
            </div>
          </li>
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Internet Censorship</div>
            <div class="custom-dialog__content-list-item-text">
              to uncensored information is blocked, restricting independent reporting.
            </div>
          </li>
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Cybersecurity Risks</div>
            <div class="custom-dialog__content-list-item-text">
              Journalists face hacking attempts and cyberattacks designed to disrupt their work or compromise their
              sources.
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-title">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
        >
          <g clip-path="url(#clip0_7499_631)">
            <path
              d="M14.2614 6.75326C17.964 6.44887 21.462 8.59458 22.8692 12.0028C24.3612 15.6155 23.0738 19.8371 20.7185 22.7612H9.2065C6.44701 19.2932 5.23943 14.3082 7.91408 10.4209C9.35121 8.3351 11.7215 6.96284 14.2564 6.75326H14.2614Z"
              fill="white"
            />
            <path
              d="M19.2415 24.9121V27.472C19.2415 28.2854 18.3383 29.458 17.6397 29.8422C16.6117 30.4111 13.6676 30.446 12.5948 29.992C11.7415 29.6327 10.6836 28.4251 10.6836 27.472V24.9121H19.2415Z"
              fill="white"
            />
            <path
              d="M14.7106 0.326696C15.3293 0.196956 15.9581 0.631088 16.0329 1.25983C16.0878 1.69895 16.0978 3.36562 16.013 3.76482C15.7884 4.87759 14.0369 4.84765 13.8872 3.63009C13.8323 3.19097 13.8223 1.5243 13.9072 1.1251C13.972 0.800748 14.3862 0.391567 14.7106 0.321706V0.326696Z"
              fill="white"
            />
            <path
              d="M0.808298 14.234C1.1576 14.1641 3.17856 14.1691 3.50291 14.2539C4.53584 14.5234 4.48594 16.1302 3.44303 16.3397C3.09373 16.4096 1.07277 16.4046 0.748418 16.3198C-0.289506 16.0503 -0.229626 14.4435 0.808298 14.234Z"
              fill="white"
            />
            <path
              d="M26.477 14.234C26.8263 14.1641 28.8473 14.1691 29.1716 14.2539C30.2045 14.5234 30.1546 16.1302 29.1117 16.3397C28.7624 16.4096 26.7415 16.4046 26.4171 16.3198C25.3792 16.0503 25.4391 14.4435 26.477 14.234Z"
              fill="white"
            />
            <path
              d="M5.01505 4.37855C5.26954 4.3536 5.49908 4.41348 5.71366 4.55819C5.91825 4.69292 7.37533 6.15001 7.51006 6.3546C8.12883 7.29771 7.03102 8.43045 6.07294 7.86657C5.88831 7.75679 4.36136 6.23484 4.23162 6.04023C3.7925 5.36657 4.21166 4.46338 5.01505 4.37855Z"
              fill="white"
            />
            <path
              d="M24.6506 4.37344C25.5289 4.25368 26.1826 5.21676 25.7285 5.99021C25.6187 6.17484 24.0368 7.75668 23.8572 7.86147C22.9141 8.41536 21.8362 7.33252 22.3901 6.3944C22.5049 6.19979 23.962 4.73771 24.1716 4.58801C24.3013 4.49819 24.4959 4.3934 24.6506 4.37344Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_7499_631">
              <rect
                width="29.9251"
                height="30"
                fill="white"
                transform="translate(0 0.306641)"
              />
            </clipPath>
          </defs>
        </svg>
        <span>How Deeper Network Helps RSF</span>
      </div>
      <div class="custom-dialog__content-item-content">
        <ul class="custom-dialog__content-list">
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Secure and Private Communication</div>
            <div class="custom-dialog__content-list-item-text">
              <ul
                class="custom-dialog__content-list"
                style="margin-bottom: 0"
              >
                <li>
                  <strong>Deeper Network’s decentralized VPN</strong>
                  encrypts journalists’ online activities, shielding them from surveillance.
                </li>
                <li>
                  Peer-to-peer architecture removes centralized vulnerabilities, making tracking nearly impossible.
                </li>
              </ul>
            </div>
          </li>
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Bypassing Censorship</div>
            <div class="custom-dialog__content-list-item-text">
              <ul
                class="custom-dialog__content-list"
                style="margin-bottom: 0"
              >
                <li>
                  Journalists use Deeper Network to bypass government firewalls and access uncensored global
                  information.
                </li>
                <li>
                  Enables connectivity to critical online platforms and news sources, even in highly restricted regions.
                </li>
              </ul>
            </div>
          </li>
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Protection Against Cyber Threats</div>
            <div class="custom-dialog__content-list-item-text">
              <ul
                class="custom-dialog__content-list"
                style="margin-bottom: 0"
              >
                <li>Blockchain-powered security defends against hacking attempts and phishing attacks.</li>
                <li>Built-in ad-blocking and anti-tracking features safeguard devices from malicious software.</li>
              </ul>
            </div>
          </li>
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Reliable Access in Remote Locations</div>
            <div class="custom-dialog__content-list-item-text">
              <ul
                class="custom-dialog__content-list"
                style="margin-bottom: 0"
              >
                <li>Deeper Network ensures consistent internet connectivity in remote or underserved areas.</li>
                <li>This is essential for real-time reporting and secure communication with RSF headquarters.</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-title">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M2.04081 0.321816C2.38186 0.264974 2.56502 0.372343 2.81765 0.568132L7.42186 5.22287C7.48378 5.23466 7.82097 4.89134 8.20213 4.50326L8.20215 4.50325C8.63747 4.06002 9.13013 3.55842 9.33554 3.46076C9.95449 3.16392 10.5482 3.59971 10.6113 4.26287C10.697 5.22809 10.6589 6.25516 10.6208 7.28315V7.28316V7.28318V7.28319C10.5859 8.22606 10.5509 9.1697 10.6113 10.0671C10.5671 10.5344 10.2829 10.8313 9.82186 10.9134C8.91521 10.853 7.96084 10.888 7.00788 10.9229H7.00785H7.00783H7.00781H7.0078H7.00779H7.00778C5.96925 10.961 4.9324 10.999 3.96081 10.9134C3.47449 10.8692 3.05133 10.5218 3.05765 10.0039C3.05765 9.58273 3.638 9.03873 4.16378 8.54589C4.48949 8.24059 4.79425 7.95492 4.92712 7.73024L0.0955433 2.87971C-0.0370883 2.63971 -0.018141 2.41866 0.0702801 2.16603C0.221859 1.76813 1.61133 0.39129 2.04081 0.321816ZM27.6388 0.321859C27.803 0.296596 27.8977 0.309228 28.0556 0.347122C28.4409 0.448175 29.7925 1.79344 29.9251 2.16607C30.083 2.60186 29.9756 2.8166 29.704 3.15133L25.0809 7.73028C25.0686 7.79185 25.4374 8.15504 25.8407 8.55214L25.8407 8.55216L25.8408 8.55223L25.8408 8.55226L25.8408 8.55228L25.8409 8.55234C26.2649 8.96986 26.7269 9.42481 26.824 9.60607C27.1588 10.2376 26.723 10.8566 26.0472 10.9198C25.0753 11.0054 24.0364 10.9673 22.9968 10.9292C22.0435 10.8943 21.0895 10.8593 20.1861 10.9198C19.7251 10.8376 19.4409 10.5408 19.3967 10.0734C19.4607 9.16842 19.4247 8.21636 19.3887 7.26548V7.26545V7.26543V7.26541C19.3502 6.24547 19.3117 5.2269 19.3967 4.26923C19.4409 3.7766 19.7946 3.35975 20.3062 3.36607C20.7273 3.36607 21.2713 3.94643 21.7642 4.4722L21.7642 4.47221L21.7642 4.47224L21.7642 4.47227C22.0695 4.79795 22.3552 5.10268 22.5798 5.23554L27.1525 0.599754C27.2851 0.479754 27.4556 0.353438 27.6388 0.321859ZM9.81592 19.6986L3.80328 19.7112C3.30434 19.8186 2.95697 20.2607 3.09592 20.7976C3.17788 21.1142 3.8115 21.7254 4.31092 22.2072L4.31095 22.2072L4.311 22.2072C4.65815 22.5421 4.94044 22.8144 4.9275 22.8818L0.102232 27.726C-0.0367151 27.966 -0.0177677 28.187 0.0769692 28.4397C0.196969 28.7618 1.46644 30.0439 1.78223 30.1891C2.21171 30.3849 2.46434 30.3091 2.81802 30.0312L7.42223 25.3765C7.65257 25.5119 7.9347 25.8142 8.23605 26.1371C8.73619 26.673 9.28927 27.2657 9.74644 27.246C10.1696 27.227 10.5422 26.8733 10.6054 26.4565V20.4881C10.5359 20.0523 10.2517 19.7744 9.81592 19.6986ZM20.0787 19.7112L26.0977 19.6986C26.5524 19.7302 26.9503 20.147 26.9503 20.6081C26.9503 21.0293 26.3699 21.5733 25.8442 22.0661C25.5185 22.3714 25.2137 22.6571 25.0808 22.8818L29.704 27.4607C30.045 27.8207 30.0829 28.1681 29.8429 28.5976C29.685 28.8881 28.4661 30.0944 28.1756 30.2144C27.7903 30.366 27.5692 30.3281 27.2408 30.0944L22.5735 25.3891C22.5115 25.3773 22.1743 25.7207 21.7932 26.1087L21.7932 26.1087C21.3579 26.552 20.8652 27.0536 20.6598 27.1512C20.0345 27.4544 19.4471 27.006 19.384 26.3491C19.299 25.3849 19.3375 24.3546 19.3761 23.3232C19.412 22.3617 19.448 21.3992 19.384 20.4881C19.4535 20.0839 19.6808 19.8312 20.0724 19.7112H20.0787ZM18.9359 17.2797C20.4833 14.1534 17.9633 10.5787 14.5211 10.9324C11.1485 11.2797 9.39904 15.3661 11.5464 18.0313C13.5548 20.5197 17.5148 20.1597 18.9359 17.2797Z"
            fill="white"
          />
        </svg>
        <span>Real-Life Impact</span>
      </div>
      <div class="custom-dialog__content-item-content">
        <p style="margin: 20px 0">With Deeper Network, RSF empowers journalists to:</p>
        <ul class="custom-dialog__content-list">
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-text">
              <strong> Safely report</strong> on corruption, human rights abuses, and critical issues.
            </div>
          </li>
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-text">
              <strong> Access and share uncensored information</strong>, ensuring the public remains informed.
            </div>
          </li>
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-text">
              <strong> Protect sensitive communications and sources</strong>, maintaining the integrity of their work.
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-title">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="35"
          height="31"
          viewBox="0 0 35 31"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M24.1424 8.97449L31.0643 15.8121V15.817C31.1232 15.5012 31.0854 15.1926 31.0474 14.8827C31.0149 14.618 30.9823 14.3523 31.0098 14.0804C31.1007 13.1998 32.0046 12.3766 32.8392 11.6165C33.2791 11.2159 33.6998 10.8328 33.9721 10.468C34.3591 9.94207 34.2797 9.46076 33.843 8.9993L25.5318 0.688008C25.1596 0.315861 24.6485 0.171964 24.1722 0.449834C23.8053 0.742996 23.4583 1.12432 23.1049 1.5126C22.3399 2.35325 21.5452 3.22646 20.4557 3.30793C19.8914 3.35046 19.3129 3.32413 18.7371 3.29791C17.2976 3.23238 15.8743 3.16759 14.7296 4.18123C14.0532 4.77942 13.413 5.46052 12.7709 6.14351C12.1081 6.84854 11.4434 7.5556 10.7352 8.17561C9.56911 9.51038 11.5936 10.5474 12.7696 10.5574C13.7822 10.5631 14.3331 10.1252 14.8823 9.68869C15.2858 9.36796 15.6885 9.04793 16.2727 8.90502C17.4935 8.60654 18.2259 9.02984 18.9981 9.47614C19.5096 9.77176 20.0386 10.0775 20.7385 10.1902C21.4332 10.3043 22.1626 10.215 22.8176 9.94703C23.3237 9.73863 23.7653 9.36648 24.1424 8.97449ZM14.5759 20.9859C14.5492 21.0607 14.5225 21.1355 14.4966 21.2106L14.4768 21.2057C15.7619 21.5828 16.6501 22.5603 16.923 23.8653C16.9327 23.9106 16.9398 23.9986 16.9479 24.0987C16.9645 24.3057 16.9853 24.5645 17.0421 24.6046C18.4305 24.5113 19.2266 25.336 20.0384 26.177C20.3059 26.4541 20.5751 26.733 20.8678 26.9814C22.5003 28.3608 24.3114 26.4405 23.1156 24.947C22.7499 24.4893 22.2826 24.0611 21.8123 23.6302L21.8123 23.6302L21.8122 23.6302L21.8122 23.6302L21.8122 23.6302C21.3189 23.1782 20.8222 22.7232 20.4361 22.2278C19.93 21.1064 21.0663 20.2282 22.0487 21.0419C22.3138 21.2603 22.699 21.6733 23.1126 22.1167C23.7983 22.8519 24.5622 23.6708 24.9862 23.8256C25.924 24.1729 27.0008 23.5328 27.0504 22.5156C27.0791 21.8757 26.7585 21.5208 26.3716 21.0925L26.326 21.0419C26.0831 20.7694 25.7333 20.4482 25.3724 20.1167L25.3723 20.1166L25.3722 20.1166L25.3722 20.1165L25.3722 20.1165L25.3722 20.1165C24.8262 19.6151 24.2547 19.0902 23.9889 18.6751C23.4183 17.7869 24.4702 16.8094 25.3534 17.3105C25.8071 17.7027 26.2342 18.153 26.6602 18.6022C27.059 19.0226 27.4567 19.4419 27.8741 19.8114C29.6009 21.3347 31.4368 19.3499 30.1467 17.8067L24.0732 11.7531C22.2869 12.7852 20.2178 12.8547 18.4811 11.6837C18.3473 11.593 18.2139 11.4757 18.0777 11.3558C17.7441 11.0623 17.3934 10.7538 16.9776 10.7855C16.6532 10.811 16.2798 11.1239 15.9268 11.4198C15.7291 11.5855 15.5378 11.7459 15.365 11.8474C13.4894 12.949 11.053 12.7406 9.44536 11.2669C8.18998 10.1206 8.00639 8.30952 9.12283 6.9946C9.67499 6.34348 10.3338 5.72927 10.993 5.11465C11.5897 4.55833 12.1867 4.00168 12.7054 3.41703L12.7798 3.28802L10.0855 0.583746C9.67361 0.276104 9.10298 0.390229 8.75068 0.742529L0.30542 9.18283C-0.141156 9.74353 -0.0766509 10.1554 0.360002 10.6813C0.621924 10.9994 0.948627 11.3016 1.27498 11.6035L1.27499 11.6035C1.55452 11.8621 1.8338 12.1204 2.07188 12.3883C2.8261 13.2417 3.28756 14.1597 3.54062 15.2761C3.62954 15.3502 3.89548 15.0703 4.07204 14.8844L4.07205 14.8844L4.07208 14.8843L4.07216 14.8843C4.13202 14.8212 4.18159 14.7691 4.21049 14.7452C6.09603 13.1921 9.10298 14.0753 9.74308 16.4471C9.93481 16.4288 10.114 16.3617 10.2955 16.2938C10.4568 16.2335 10.6199 16.1725 10.795 16.1445C13.0279 15.7773 15.0425 17.5735 14.8688 19.8461C14.8399 20.2465 14.708 20.6159 14.5759 20.9859ZM11.0629 18.1243C12.616 17.8613 13.4297 19.4988 12.4125 20.7045C11.6037 21.6622 9.9266 23.3393 8.96398 24.1531C8.4529 24.5848 7.96166 24.7932 7.29676 24.5352C6.20016 24.1084 6.08604 22.8828 6.7956 22.0393C7.60936 21.0767 9.30635 19.3797 10.269 18.5659C10.4873 18.3823 10.7701 18.1739 11.0579 18.1243H11.0629ZM7.7286 18.2137C8.36373 17.0724 7.416 15.7873 6.14574 15.9858V15.9907C5.95222 16.0205 5.67435 16.1495 5.51557 16.2686C5.01948 16.6442 4.52008 17.2022 4.02982 17.7499L4.0298 17.7499C3.67172 18.15 3.31852 18.5446 2.97504 18.8587C2.24563 20.258 3.81857 21.7218 5.1583 20.8286C5.46595 20.6252 7.56486 18.5064 7.7286 18.2137ZM13.509 23.0615C14.7693 23.0615 15.459 24.5055 14.685 25.4929C14.3426 25.9345 12.6754 27.6166 12.2486 27.9193C10.8692 28.8918 9.07794 27.1254 10.2738 25.6765C10.6906 25.1704 12.0998 23.7215 12.6009 23.3543C12.859 23.1657 13.1914 23.0665 13.509 23.0665V23.0615ZM18.318 28.9071C19.0227 27.7309 18.0699 26.3958 16.7299 26.6241C16.1144 26.7283 15.0176 27.8648 14.8886 28.4703C14.6553 29.5721 15.5884 30.5052 16.6951 30.2769C17.1616 30.1826 18.0748 29.314 18.318 28.9071Z"
            fill="white"
          />
        </svg>
        <span>A Partnership for Freedom</span>
      </div>
      <div class="custom-dialog__content-item-content">
        <p style="margin: 20px 0">
          The collaboration between Reporters Without Borders and Deeper Network showcases how innovative technology can
          uphold press freedom and safeguard those who risk everything to speak the truth.
        </p>
      </div>
    </div>

    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-content">
        <p class="fonst-bold">
          <a href="/collections/all" style="color: #34a4ff;" target="_blank">Deeper Network</a>: Protecting the voices
          that matter.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="custom-dialog__wrapper" id="customDialog4">
  <div class="custom-dialog__container">
    <button
      class="custom-dialog__close-btn"
      onclick="CustomDialog.close('customDialog4')"
    >
      ×
    </button>
    <div class="custom-dialog__header">
      <h2 class="custom-dialog__title">Enhancing cybersecurity for government agencies</h2>
    </div>
    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-content">
        <p>
          Government agencies in the Philippines, such as the Anti-Cybercrime Group and CICC, face increasing threats of
          cyberattacks, data breaches, and network vulnerabilities. These threats are particularly critical when dealing
          with sensitive political matters or national security.
        </p>
      </div>
    </div>
    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-title">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
        >
          <g clip-path="url(#clip0_7499_688)">
            <path
              d="M24.471 13.6195C26.2076 13.4549 26.6666 12.2972 27.8193 11.409C27.8642 11.374 27.8792 11.3191 27.9541 11.3391C28.1337 12.0477 28.3633 12.7513 28.488 13.4698C29.8453 21.1894 24.6856 28.6245 17.0209 30.0567C9.17163 31.5287 1.55686 26.2692 0.214548 18.415C-1.50202 8.40996 7.42014 -0.157903 17.3503 1.91296C17.8543 2.01775 18.3433 2.20238 18.8423 2.31216C18.8623 2.392 18.8074 2.40198 18.7724 2.44689C18.3632 2.97583 17.7096 3.40497 17.3004 3.98381C17.0658 4.31315 16.6068 5.23132 16.6068 5.61555V8.30517C16.6068 8.30517 16.5219 8.39998 16.492 8.40497C12.1058 7.11256 7.46505 10.0068 6.6367 14.4728C5.3892 21.1994 12.6896 26.2493 18.5179 22.6165C21.3373 20.8601 22.6347 17.6914 22.0658 14.4279C22.0359 14.2533 21.8912 13.8641 21.9012 13.7243C21.9012 13.6694 21.9261 13.6445 21.966 13.6146C22.7744 13.5597 23.6776 13.6894 24.471 13.6146V13.6195Z"
              fill="white"
            />
            <path
              d="M29.5859 4.37843C29.9801 4.77763 30.035 5.4912 29.7107 5.95527L24.9153 10.7906C24.7306 10.9353 24.4811 11.085 24.2466 11.11C23.2536 11.2197 22.061 11.0152 21.053 11.11C20.9881 11.115 20.9233 11.11 20.8634 11.1449L17.8843 14.1389C17.7795 14.3185 18.034 14.7227 18.0939 14.9373C19.3414 19.5481 12.6648 21.8435 10.7985 17.4922C9.38633 14.1938 12.8294 10.9553 16.033 12.4672L19.062 9.38841C19.1418 8.35048 18.9871 7.23272 19.072 6.20477C19.1169 5.60597 19.3464 5.40138 19.7356 4.99719C21.2177 3.70976 22.5151 2.04809 23.9722 0.755673C24.8953 -0.0626901 26.0081 0.251681 26.2276 1.46925L26.4123 3.78961C26.4722 3.83452 26.542 3.84949 26.6169 3.85947C27.3005 3.93432 28.0789 3.89939 28.7526 3.99919C29.057 4.0441 29.3664 4.14889 29.5859 4.37344V4.37843Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_7499_688">
              <rect
                width="29.9202"
                height="30"
                fill="white"
                transform="translate(0 0.306641)"
              />
            </clipPath>
          </defs>
        </svg>
        <span>solution</span>
      </div>
      <div class="custom-dialog__content-item-content">
        <p style="margin: 20px 0">Deeper Network can provide a decentralized VPN solution to:</p>
        <ul class="custom-dialog__content-list">
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Secure Public and Private Networks</div>
            <div class="custom-dialog__content-list-item-text">
              Protect government communications and sensitive data from interception or unauthorized access.
            </div>
          </li>
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Strengthen Cybercrime Investigations</div>
            <div class="custom-dialog__content-list-item-text">
              Enable secure, anonymous access for forensic investigations or intelligence gathering.
            </div>
          </li>
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Enhance Network Privacy</div>
            <div class="custom-dialog__content-list-item-text">
              Prevent tracking or hacking attempts on officials’ devices, especially during critical political events.
            </div>
          </li>
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Plug-and-Play Setup</div>
            <div class="custom-dialog__content-list-item-text">
              Ensure ease of deployment without disrupting daily operations or requiring specialized IT infrastructure.
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-title">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M2.04081 0.321816C2.38186 0.264974 2.56502 0.372343 2.81765 0.568132L7.42186 5.22287C7.48378 5.23466 7.82097 4.89134 8.20213 4.50326L8.20215 4.50325C8.63747 4.06002 9.13013 3.55842 9.33554 3.46076C9.95449 3.16392 10.5482 3.59971 10.6113 4.26287C10.697 5.22809 10.6589 6.25516 10.6208 7.28315V7.28316V7.28318V7.28319C10.5859 8.22606 10.5509 9.1697 10.6113 10.0671C10.5671 10.5344 10.2829 10.8313 9.82186 10.9134C8.91521 10.853 7.96084 10.888 7.00788 10.9229H7.00785H7.00783H7.00781H7.0078H7.00779H7.00778C5.96925 10.961 4.9324 10.999 3.96081 10.9134C3.47449 10.8692 3.05133 10.5218 3.05765 10.0039C3.05765 9.58273 3.638 9.03873 4.16378 8.54589C4.48949 8.24059 4.79425 7.95492 4.92712 7.73024L0.0955433 2.87971C-0.0370883 2.63971 -0.018141 2.41866 0.0702801 2.16603C0.221859 1.76813 1.61133 0.39129 2.04081 0.321816ZM27.6388 0.321859C27.803 0.296596 27.8977 0.309228 28.0556 0.347122C28.4409 0.448175 29.7925 1.79344 29.9251 2.16607C30.083 2.60186 29.9756 2.8166 29.704 3.15133L25.0809 7.73028C25.0686 7.79185 25.4374 8.15504 25.8407 8.55214L25.8407 8.55216L25.8408 8.55223L25.8408 8.55226L25.8408 8.55228L25.8409 8.55234C26.2649 8.96986 26.7269 9.42481 26.824 9.60607C27.1588 10.2376 26.723 10.8566 26.0472 10.9198C25.0753 11.0054 24.0364 10.9673 22.9968 10.9292C22.0435 10.8943 21.0895 10.8593 20.1861 10.9198C19.7251 10.8376 19.4409 10.5408 19.3967 10.0734C19.4607 9.16842 19.4247 8.21636 19.3887 7.26548V7.26545V7.26543V7.26541C19.3502 6.24547 19.3117 5.2269 19.3967 4.26923C19.4409 3.7766 19.7946 3.35975 20.3062 3.36607C20.7273 3.36607 21.2713 3.94643 21.7642 4.4722L21.7642 4.47221L21.7642 4.47224L21.7642 4.47227C22.0695 4.79795 22.3552 5.10268 22.5798 5.23554L27.1525 0.599754C27.2851 0.479754 27.4556 0.353438 27.6388 0.321859ZM9.81592 19.6986L3.80328 19.7112C3.30434 19.8186 2.95697 20.2607 3.09592 20.7976C3.17788 21.1142 3.8115 21.7254 4.31092 22.2072L4.31095 22.2072L4.311 22.2072C4.65815 22.5421 4.94044 22.8144 4.9275 22.8818L0.102232 27.726C-0.0367151 27.966 -0.0177677 28.187 0.0769692 28.4397C0.196969 28.7618 1.46644 30.0439 1.78223 30.1891C2.21171 30.3849 2.46434 30.3091 2.81802 30.0312L7.42223 25.3765C7.65257 25.5119 7.9347 25.8142 8.23605 26.1371C8.73619 26.673 9.28927 27.2657 9.74644 27.246C10.1696 27.227 10.5422 26.8733 10.6054 26.4565V20.4881C10.5359 20.0523 10.2517 19.7744 9.81592 19.6986ZM20.0787 19.7112L26.0977 19.6986C26.5524 19.7302 26.9503 20.147 26.9503 20.6081C26.9503 21.0293 26.3699 21.5733 25.8442 22.0661C25.5185 22.3714 25.2137 22.6571 25.0808 22.8818L29.704 27.4607C30.045 27.8207 30.0829 28.1681 29.8429 28.5976C29.685 28.8881 28.4661 30.0944 28.1756 30.2144C27.7903 30.366 27.5692 30.3281 27.2408 30.0944L22.5735 25.3891C22.5115 25.3773 22.1743 25.7207 21.7932 26.1087L21.7932 26.1087C21.3579 26.552 20.8652 27.0536 20.6598 27.1512C20.0345 27.4544 19.4471 27.006 19.384 26.3491C19.299 25.3849 19.3375 24.3546 19.3761 23.3232C19.412 22.3617 19.448 21.3992 19.384 20.4881C19.4535 20.0839 19.6808 19.8312 20.0724 19.7112H20.0787ZM18.9359 17.2797C20.4833 14.1534 17.9633 10.5787 14.5211 10.9324C11.1485 11.2797 9.39904 15.3661 11.5464 18.0313C13.5548 20.5197 17.5148 20.1597 18.9359 17.2797Z"
            fill="white"
          />
        </svg>
        <span>Impact</span>
      </div>
      <div class="custom-dialog__content-item-content">
        <p style="margin: 20px 0">
          By adopting Deeper Network, Philippine government agencies can bolster their cybersecurity, ensuring
          confidentiality and integrity in combating cybercrime and safeguarding political and national interests.
        </p>
        <div class="introduction-of-partner">
          <p class="introduction-of-partner-title">Philippine Governmental collaborations</p>
          <div class="introduction-of-partner-list">
            <div class="introduction-of-partner-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/introduction-of-partner-img1.png?v=1739160653"
                alt="Anti-Crime Department"
              >
              <p>Anti-Crime Department</p>
            </div>

            <div class="introduction-of-partner-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/introduction-of-partner-img2.png?v=1739160652"
                alt="Vice President & Politicians"
              >
              <p>Vice President & Politicians</p>
            </div>
            <div class="introduction-of-partner-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/introduction-of-partner-img3.png?v=1739160652"
                alt="Vice President & Politicians"
              >
              <p>Cybercrime Investigation & Coordination Center</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="custom-dialog__wrapper" id="customDialog5">
  <div class="custom-dialog__container">
    <button
      class="custom-dialog__close-btn"
      onclick="CustomDialog.close('customDialog5')"
    >
      ×
    </button>
    <div class="custom-dialog__header">
      <h2 class="custom-dialog__title">Enhancing anonymity and security for law enforcement investigations</h2>
    </div>
    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-content">
        <p>
          Law enforcement agencies in the UK, such as the FBI-equivalent and police departments, often require secure
          and anonymous networks for sensitive operations, including online investigations and intelligence gathering.
        </p>
      </div>
    </div>
    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-title">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
        >
          <g clip-path="url(#clip0_7499_740)">
            <path
              d="M24.471 13.6195C26.2076 13.4549 26.6666 12.2972 27.8193 11.409C27.8642 11.374 27.8792 11.3191 27.9541 11.3391C28.1337 12.0477 28.3633 12.7513 28.488 13.4698C29.8453 21.1894 24.6856 28.6245 17.0209 30.0567C9.17163 31.5287 1.55686 26.2692 0.214548 18.415C-1.50202 8.40996 7.42014 -0.157903 17.3503 1.91296C17.8543 2.01775 18.3433 2.20238 18.8423 2.31216C18.8623 2.392 18.8074 2.40198 18.7724 2.44689C18.3632 2.97583 17.7096 3.40497 17.3004 3.98381C17.0658 4.31315 16.6068 5.23132 16.6068 5.61555V8.30517C16.6068 8.30517 16.5219 8.39998 16.492 8.40497C12.1058 7.11256 7.46505 10.0068 6.6367 14.4728C5.3892 21.1994 12.6896 26.2493 18.5179 22.6165C21.3373 20.8601 22.6347 17.6914 22.0658 14.4279C22.0359 14.2533 21.8912 13.8641 21.9012 13.7243C21.9012 13.6694 21.9261 13.6445 21.966 13.6146C22.7744 13.5597 23.6776 13.6894 24.471 13.6146V13.6195Z"
              fill="white"
            />
            <path
              d="M29.5859 4.37843C29.9801 4.77763 30.035 5.4912 29.7107 5.95527L24.9153 10.7906C24.7306 10.9353 24.4811 11.085 24.2466 11.11C23.2536 11.2197 22.061 11.0152 21.053 11.11C20.9881 11.115 20.9233 11.11 20.8634 11.1449L17.8843 14.1389C17.7795 14.3185 18.034 14.7227 18.0939 14.9373C19.3414 19.5481 12.6648 21.8435 10.7985 17.4922C9.38633 14.1938 12.8294 10.9553 16.033 12.4672L19.062 9.38841C19.1418 8.35048 18.9871 7.23272 19.072 6.20477C19.1169 5.60597 19.3464 5.40138 19.7356 4.99719C21.2177 3.70976 22.5151 2.04809 23.9722 0.755673C24.8953 -0.0626901 26.0081 0.251681 26.2276 1.46925L26.4123 3.78961C26.4722 3.83452 26.542 3.84949 26.6169 3.85947C27.3005 3.93432 28.0789 3.89939 28.7526 3.99919C29.057 4.0441 29.3664 4.14889 29.5859 4.37344V4.37843Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_7499_740">
              <rect
                width="29.9202"
                height="30"
                fill="white"
                transform="translate(0 0.306641)"
              />
            </clipPath>
          </defs>
        </svg>
        <span>Solution</span>
      </div>
      <div class="custom-dialog__content-item-content">
        <p style="margin: 20px 0">Deeper’s decentralized VPN ensures:</p>
        <ul class="custom-dialog__content-list">
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Boosted Anonymity</div>
            <div class="custom-dialog__content-list-item-text">
              Law enforcement agents can conduct online operations without revealing their identity or location.
            </div>
          </li>
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Untraceable Investigations</div>
            <div class="custom-dialog__content-list-item-text">
              Traceless browsing ensures investigations remain discreet and uncompromised.
            </div>
          </li>
          <li class="custom-dialog__content-list-item">
            <div class="custom-dialog__content-list-item-title">Plug-and-Play Deployment</div>
            <div class="custom-dialog__content-list-item-text">
              Simplifies the adoption process for quick, secure deployment in diverse operational scenarios.
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-title">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
        >
          <g clip-path="url(#clip0_7499_740)">
            <path
              d="M24.471 13.6195C26.2076 13.4549 26.6666 12.2972 27.8193 11.409C27.8642 11.374 27.8792 11.3191 27.9541 11.3391C28.1337 12.0477 28.3633 12.7513 28.488 13.4698C29.8453 21.1894 24.6856 28.6245 17.0209 30.0567C9.17163 31.5287 1.55686 26.2692 0.214548 18.415C-1.50202 8.40996 7.42014 -0.157903 17.3503 1.91296C17.8543 2.01775 18.3433 2.20238 18.8423 2.31216C18.8623 2.392 18.8074 2.40198 18.7724 2.44689C18.3632 2.97583 17.7096 3.40497 17.3004 3.98381C17.0658 4.31315 16.6068 5.23132 16.6068 5.61555V8.30517C16.6068 8.30517 16.5219 8.39998 16.492 8.40497C12.1058 7.11256 7.46505 10.0068 6.6367 14.4728C5.3892 21.1994 12.6896 26.2493 18.5179 22.6165C21.3373 20.8601 22.6347 17.6914 22.0658 14.4279C22.0359 14.2533 21.8912 13.8641 21.9012 13.7243C21.9012 13.6694 21.9261 13.6445 21.966 13.6146C22.7744 13.5597 23.6776 13.6894 24.471 13.6146V13.6195Z"
              fill="white"
            />
            <path
              d="M29.5859 4.37843C29.9801 4.77763 30.035 5.4912 29.7107 5.95527L24.9153 10.7906C24.7306 10.9353 24.4811 11.085 24.2466 11.11C23.2536 11.2197 22.061 11.0152 21.053 11.11C20.9881 11.115 20.9233 11.11 20.8634 11.1449L17.8843 14.1389C17.7795 14.3185 18.034 14.7227 18.0939 14.9373C19.3414 19.5481 12.6648 21.8435 10.7985 17.4922C9.38633 14.1938 12.8294 10.9553 16.033 12.4672L19.062 9.38841C19.1418 8.35048 18.9871 7.23272 19.072 6.20477C19.1169 5.60597 19.3464 5.40138 19.7356 4.99719C21.2177 3.70976 22.5151 2.04809 23.9722 0.755673C24.8953 -0.0626901 26.0081 0.251681 26.2276 1.46925L26.4123 3.78961C26.4722 3.83452 26.542 3.84949 26.6169 3.85947C27.3005 3.93432 28.0789 3.89939 28.7526 3.99919C29.057 4.0441 29.3664 4.14889 29.5859 4.37344V4.37843Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_7499_740">
              <rect
                width="29.9202"
                height="30"
                fill="white"
                transform="translate(0 0.306641)"
              />
            </clipPath>
          </defs>
        </svg>
        <span>Impact</span>
      </div>
      <div class="custom-dialog__content-item-content">
        <p style="margin: 20px 0">
          Deeper Network equips law enforcement agencies with robust tools to maintain privacy, secure sensitive data,
          and enhance the effectiveness of online crime-fighting initiatives, especially in combating cybercrime.
        </p>
      </div>
    </div>

    <div class="custom-dialog__content-item-content">
      <ul class="custom-dialog__content-list">
        <li class="custom-dialog__content-list-item">
          <div class="custom-dialog__content-list-item-title">UK FBl & Police Departments</div>
          <div class="custom-dialog__content-list-item-text">
            <ul
              class="custom-dialog__content-list"
              style="margin-bottom: 0"
            >
              <li>
                Collaboration with Blue Lights Digital, a trusted provider of VPN solutions for the FBI and police
                departments.
              </li>
              <li>Deeper’s Decentralized VPN boosts anonymity and makes online investigations traceless.</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="custom-dialog__content">
      <div class="custom-dialog__content-item-content">
        <p class="fonst-bold" style="color: #495af5">
          Several government collaborations are currently under discussions.
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .resource-collection-img {
    max-width: 100%;
    height: 825px;
    position: relative;
    overflow: hidden;
  }

  .resource-collection-overlay-box {
    position: absolute;
    max-width: 760px;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
  }

  .resource-collection-overlay {
    color: #000;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 112% */
    letter-spacing: -0.12px;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  .resource-collection-overlay-subtitle {
    color: #868686;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
  }
  .resource-collection-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .resource-collection-content {
    background-color: #f9f9f9;
    width: 100%;
  }
  .resource-collection-list {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -200px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .resource-collection-item {
    position: relative;
    display: flex;
    width: 100%;
    height: 330px;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-clip: padding-box;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
  }

  .resource-collection-item:nth-child(1) {
    background-image: url(https://cdn.shopify.com/s/files/1/0256/1038/7504/files/use-cases-img1.png?v=1739095149);
  }
  .resource-collection-item:nth-child(2) {
    background-image: url(https://cdn.shopify.com/s/files/1/0256/1038/7504/files/use-cases-img2.png?v=1739095484);
  }
  .resource-collection-item:nth-child(3) {
    background-image: url(https://cdn.shopify.com/s/files/1/0256/1038/7504/files/use-cases-img3.png?v=1739095483);
  }
  .resource-collection-item:nth-child(4) {
    background-image: url(https://cdn.shopify.com/s/files/1/0256/1038/7504/files/use-cases-img4.png?v=1739095483);
  }
  .resource-collection-item:nth-child(5) {
    background-image: url(https://cdn.shopify.com/s/files/1/0256/1038/7504/files/use-cases-img5.png?v=1739095483);
  }
  .resource-collection-item:last-child {
    margin-bottom: 100px;
  }
  .resource-collection-item-text {
    width: 50%;
    color: #3a3a3a;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.12px;
    margin-left: 80px;
  }

  .resource-collection-item-icon {
    position: absolute;
    display: flex;
    right: 80px;
    width: 50px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 300px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    cursor: pointer;
  }
  .resource-collection-item-icon:hover {
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease-in-out;
  }

  .custom-dialog__content-item-title {
    display: inline-flex;
    padding: 15px 300px 15px 30px;
    align-items: center;
    gap: 20px;
    border-radius: 500px;
    background: linear-gradient(90deg, #495af5 0%, rgba(73, 90, 245, 0) 91.53%);
    margin-bottom: 20px;
  }

  .custom-dialog__content-item-title span {
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.12px;
    text-transform: capitalize;
  }

  .custom-dialog__content-item-content p {
    color: #3a3a3a;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
  }
  .custom-dialog__content-item-content p.fonst-bold {
    font-weight: 700;
    margin: 20px 0;
    font-size: 24px;
  }

  .custom-dialog__content-list {
    padding-left: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .custom-dialog__content-list-item-title {
    color: #3a3a3a;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 120% */
    margin-bottom: 10px;
  }

  .custom-dialog__content-list-item-text {
    color: #3a3a3a;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
  }

  .security-content {
    padding: 0 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .security-content-item {
    display: flex;
    gap: 10px;
  }

  .security-content-icon {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 2.4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    flex-shrink: 0;
  }

  p.introduction-of-partner-title {
    color: #3a3a3a;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 120% */
    margin-bottom: 20px;
  }

  .introduction-of-partner-list {
    display: flex;
    flex: 0 0 325px;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 5px;
  }

  .introduction-of-partner-list::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #e1e1e1;
    border-radius: 10px;
  }
  .introduction-of-partner-list::-webkit-scrollbar-thumb {
    background-color: #b8bfff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .introduction-of-partner-item {
    display: flex;
    width: 325px;
    height: 420px;
    padding: 50px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 25px;
    border: 2px solid #b8bfff;
  }
  .introduction-of-partner-item img {
    width: 250px;
    height: 250px;
  }

  .introduction-of-partner-item > p {
    color: #3a3a3a;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 0;
  }

  @media screen and (max-width: 1200px) {
    .custom-dialog__container {
      padding: 20px;
    }
    .resource-collection-list {
      max-width: 100%;
    }
    .resource-collection-item {
      height: 280px;
    }
    .resource-collection-item-text {
      font-size: 22px;
      margin-left: 40px;
    }
    .resource-collection-item-icon {
      right: 40px;
    }
    .custom-dialog__title {
      font-size: 24px;
    }
  }

  @media screen and (max-width: 768px) {
    .custom-dialog__content-item-content p.fonst-bold {
      font-size: 18px;
      margin: 10px 0;
    }
    .resource-collection-img {
      height: 600px;
    }
    .custom-dialog__container {
      padding: 10px;
    }
    .resource-collection-overlay-box {
      max-width: 90%;
      width: 100%;
      top: 50%;
      left: 50%;
    }
    .resource-collection-overlay {
      font-size: 36px;
      line-height: 42px;
    }
    .resource-collection-overlay-subtitle {
      font-size: 16px;
    }
    .resource-collection-list {
      margin-top: -100px;
      padding: 20px;
      gap: 20px;
    }
    .resource-collection-item {
      height: 200px;
    }
    .resource-collection-item-text {
      font-size: 18px;
      margin-left: 20px;
      width: 50%;
    }
    .resource-collection-item-icon {
      right: 20px;
      width: 40px;
      height: 40px;
    }

    /* 移动端弹窗样式优化 */
    .custom-dialog__wrapper {
      padding: 0;
    }

    .custom-dialog__container {
      width: 100%;
      height: 100%;
      max-width: 100%;
      margin: 0;
      padding: 20px !important;
      border-radius: 0;
      overflow-y: auto;
    }

    .custom-dialog__header {
      padding: 0px !important;
    }

    .custom-dialog__title {
      font-size: 24px !important;
      line-height: 1.3;
      margin: 10px 0;
    }

    .custom-dialog__content-item-title {
      width: 100%;
      padding: 12px 20px;
      gap: 10px;
    }

    .custom-dialog__content-item-title span {
      font-size: 20px;
    }

    .custom-dialog__content-item-title svg {
      width: 24px;
      height: 24px;
    }

    .custom-dialog__content-item-content p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    .custom-dialog__content-list {
      padding-left: 10px;
      margin-bottom: 20px;
    }

    .custom-dialog__content-list-item-title {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 5px;
    }

    .custom-dialog__content-list-item-text {
      font-size: 16px;
      line-height: 24px;
    }

    .security-content {
      padding: 0 10px;
      margin-bottom: 20px;
      gap: 10px;
    }

    .security-content-item {
      font-size: 16px;
      line-height: 1.4;
    }

    .custom-dialog__close-btn {
      top: 10px;
      right: 10px;
      width: 28px;
      height: 28px;
      font-size: 20px;
    }
  }

  @media screen and (max-width: 480px) {
    .resource-collection-img {
      height: 500px;
    }
    .resource-collection-overlay {
      font-size: 28px;
      line-height: 34px;
    }
    .resource-collection-overlay-subtitle {
      font-size: 14px;
    }
    .resource-collection-item {
      height: 160px;
    }
    .resource-collection-item-text {
      font-size: 16px;
      margin-left: 15px;
      width: 75%;
    }
    .resource-collection-item-icon {
      right: 15px;
      width: 35px;
      height: 35px;
    }
    .resource-collection-item:last-child {
      margin-bottom: 60px;
    }
  }

  /* 弹窗基础样式 */
  .custom-dialog__wrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    overflow-y: auto;
    padding: 20px 0;
  }

  .custom-dialog__wrapper--active {
    opacity: 1;
    visibility: visible;
  }

  .custom-dialog__container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    background: #ffffff;
    border-radius: 12px;
    padding: 50px;
    transform: scale(0.8) translateY(-30px);
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
    margin: auto;
  }

  .custom-dialog__wrapper--active .custom-dialog__container {
    transform: scale(1) translateY(0);
  }

  .custom-dialog__close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    background: #495af5;
    border: none;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
  }

  .custom-dialog__close-btn:hover {
    transform: rotate(90deg);
    background: #3644d0;
  }

  .custom-dialog__header {
    padding-right: 40px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .custom-dialog__title {
    font-size: 40px;
    font-weight: 600;
    color: #333333;
    margin: 20px 0 0 0;
  }

  .custom-dialog__content {
    color: #666666;
    line-height: 1.6;
  }
</style>

<script>
  const CustomDialog = {
    elements: {},

    init() {
      document.querySelectorAll('.custom-dialog__wrapper').forEach((dialog) => {
        this.elements[dialog.id] = dialog;
        this.bindEvents(dialog);
      });
    },

    bindEvents(dialog) {
      dialog.addEventListener('click', (e) => {
        if (e.target === dialog) {
          this.close(dialog.id);
        }
      });

      // ESC键关闭
      document.addEventListener('keydown', (e) => {
        if (e.key === 'Escape' && this.isOpen(dialog.id)) {
          this.close(dialog.id);
        }
      });
    },

    open(dialogId) {
      if (this.elements[dialogId]) {
        this.elements[dialogId].classList.add('custom-dialog__wrapper--active');
        document.body.style.overflow = 'hidden';
      }
    },

    close(dialogId) {
      if (this.elements[dialogId]) {
        this.elements[dialogId].classList.remove('custom-dialog__wrapper--active');
        document.body.style.overflow = '';
      }
    },

    isOpen(dialogId) {
      return this.elements[dialogId]?.classList.contains('custom-dialog__wrapper--active');
    },
  };

  document.addEventListener('DOMContentLoaded', () => {
    CustomDialog.init();
  });
</script>
